name: Publish Python Packages to PyPI

on:
  push:
    tags:
      - '*-v*'

jobs:
  build-and-publish:
    name: Build and publish package from tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: pip install hatch

      - name: Parse package name and version from tag
        id: parse_tag
        run: |
          TAG_NAME="${{ github.ref_name }}"
          PACKAGE_NAME=$(echo $TAG_NAME | rev | cut -d'-' -f2- | rev)
          echo "package_name=$PACKAGE_NAME" >> $GITHUB_OUTPUT
          PACKAGE_VERSION=$(echo $TAG_NAME | rev | cut -d'-' -f1 | rev | cut -c 2-)
          echo "Deploying $PACKAGE_NAME version $PACKAGE_VERSION"

      - name: Build ${{ steps.parse_tag.outputs.package_name }}
        run: |
          cd packages/${{ steps.parse_tag.outputs.package_name }}
          hatch build

      - name: Publish ${{ steps.parse_tag.outputs.package_name }} to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: packages/${{ steps.parse_tag.outputs.package_name }}/dist/